@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');



:root {
    --title-font: 'DM Sans', sans-serif;
    --body-font: 'Source Sans Pro', sans-serif;

    --bg-color: #2e2e2e;
    --cont-color: #262525;
    --title-color: #b1e7e2;
    --title2-color: #b8c293;
    --font-color: #bbbbbb;
}

* {
    padding: 0px;
    margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

main {
    background-color: var(--bg-color);
    width: 100vw;
    height: 200vh;
}

div.container {
    position: fixed;
    top: 0px;
    background-color: var(--cont-color);
    height: 100vh;
    overflow-y: scroll;
}


/*LEFT CONTAINER*/
div#left-container {
    z-index: 1;
    left: 0px;
    width: 290px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#left-container img {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0%);
    padding-bottom: 20px;
}

div#left-container div.lc-divider {
    position: absolute;
    top: 115px;
    width: 100%;
    height: 1px;
    background-color: rgba(172, 172, 172, 0.25);
}

div#left-container nav {
    position: absolute;
    top: 140px;
    left: 35%;
    transform: translate(-50%, 0%);
}

div#left-container nav p {
    color: var(--title2-color);
    font-family: var(--title-font);
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
    user-select: none;
}

div#left-container nav a {
    position: relative;
    display: block;
    color: var(--font-color);
    font-family: var(--body-font);
    font-size: 1em;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 7px 0px 7px 20px;
    margin: 5px 0px 5px 13px;
    border-radius: 5px;
    transition: .1s ease-in-out;
}

div#left-container nav a:last-child {
    color: #658361;
}

div#left-container nav a:hover {
    color: white;
}

div#left-container nav a:hover img {
    transform: translate(-65%, 0%);
}

div#left-container nav a img {
    position: absolute;
    top: 25%;
    left: 0%;
    border: none;
}

div#left-container nav a span {
    position: absolute;
    top: 90%;
    width: 0px;
    height: 2px;
    background-color: var(--title2-color);
    border-radius: 5px;
    transition: .25s ease-in-out;
}

div#left-container nav a:hover span {
    width: 215px;
}

nav div#menu-items {
    margin-bottom: 45px;
}

nav div#trending-items {
    margin-bottom: 45px;
}

nav div#shortcut-items {
    margin-bottom: 100px;
}

nav div#shortcut-items a:last-child {
    color: var(--font-color);
}

div#preferences {
    position: sticky;
    top: 97%;
    left: 50%;
    width: 100%;
    background-color: var(--cont-color);
    text-align: center;
    padding: 5px 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

div#preferences a {
    color: #658361;
    font-family: var(--title-font);
    font-size: 1.1em;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .2s ease-in-out;
}

div#preferences a:hover {
    color: #80a57a;
}

/* RIGHT CONTAINER*/
div#right-container {
    right: 0px;
    width: 250px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div#actions {
    position: sticky;
    top: 0;
    background-color: var(--cont-color);
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

div#actions div#icons {
    position: absolute;
    padding: 15px 10px;
}

div#actions div#icons a {
    margin-right: 15px;
}

div#actions div#icons a img {
    width: 16px;
    height: 16px;
}

div#actions div#icons:first-child {
    margin-left: 10px;
}

div#actions div#icons a:last-child {
    margin-right: 0px;
    transition: .2s ease-in-out;
}

div#actions div#icons a:hover img {
    transform: scale(1.15, 1.15);
}

div#actions div#profile-menu {
    position: absolute;
    padding: 15px;
    top: -2px;
    right: 18px;
}

div#actions div#profile-menu p a {
    color: var(--title2-color);
    font-family: var(--title-font);
    text-decoration: none;
    transition: .2s ease-in-out;
}

div#actions div#profile-menu p a span {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-top: 7px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

div#actions div#profile-menu p a:hover {
    color: var(--title-color);
    text-decoration: underline;
}

div.vgroup {
    position: absolute;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0%);
    background-color: var(--bg-color);
    border-radius: 7px;
    overflow-y: scroll;
}

div#right-container p.title {
    position: relative;
    left: 13px;
    width: fit-content;
    color: var(--title2-color);
    font-family: var(--body-font);
    font-size: 1.3em;
    letter-spacing: 1px;
    user-select: none;
}

div#right-container p#tmessages {
    top: 36px;
}

div#right-container p#tfriends {
    top: 474px;
}

div#messages {
    top: 115px;
    height: 400px;
}

div#messages div.message {
    position: relative;
    top: 15px;
    left: 10px;
    width: 90%;
    margin-bottom: 5px;
    cursor: pointer;
}

div#messages div#new-message {
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: .1s ease-in-out;
}

div#messages div#new-message img {
    transform: scale(0.55, 0.55);
    border-radius: 0%;
    transition: .1s ease-in-out;
}

div#messages div#new-message:hover {
    border: 1px solid var(--title2-color);
}

div#messages div#new-message:hover img {
    transform: rotateX(5deg) rotateZ(45deg) scale(0.55, 0.55);
}

div#messages div#new-message:hover p {
    text-decoration: underline;
}


div#messages div.message:last-child {
    margin-bottom: 15px;
}

div#messages div.message:hover p {
    color: rgb(230, 230, 230);
    transition: .15s ease;
}

div#messages div.message img {
    transform: scale(0.65, 0.65);
    border-radius: 50%;
}

div#messages div.message p {
    position: absolute;
    top: 50%;
    left: 75px;
    width: max-content;
    color: var(--font-color);
    font-family: var(--body-font);
    font-size: 0.9em;
    transform: translate(0%, -50%);
}

div#messages div.message p span {
    display: block;
}

div#friends {
    top: 580px;
    height: 600px;
}

div#search-friends {
    position: sticky;
    top: 95%;
    left: 5%;
    width: 90%;
    height: 40px;
    justify-content: center;
    background-color: var(--title2-color);
    border-radius: 7px;
}

div#search-friends img {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 26px;
    height: 26px;
    cursor: pointer;
}